.App {
  margin: 30px auto;
  background-image: url("./images/42.jpg");
  background-size: cover;
  height: 100%;
  overflow: hidden;
  background-blend-mode: multiply;
}

.App h1 {
  text-align: center;
}

.App footer {
  text-align: center;
  font-size: 10px;
  margin: 20 auto;
}

.App a {
  color: #0dcaf0;
}
