.App {
  margin: 20px auto;
  background-image: url("./images/geometric_bgrnd.jpg");
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.App h1 {
  text-align: center;
  background-color: rgb(255, 255, 255, 0.9);
  margin: 20 auto;
}

.App footer {
  text-align: center;
  font-size: 10px;
  margin: 20 auto;
  background-color: rgb(255, 255, 255, 0.9);
  background-size: contain;
}

.App a {
  color: #0dcaf0;
}
